.mini_title
  %h1{style: "color: white"} Planet Conquer 2012 Summer Coding Sprint
  %p Time: From 8 AM - 5 PM, Aug 25th, 2012
  %p Venue: <a href="http://maps.google.com/maps/ms?msid=210140294533887574086.0004bd369fce0be7cd3b1&msa=0&ll=31.227408,121.471667&spn=0.029138,0.050297" target="_blank">@GuruDigger</a> (2F, Building 16, Lane 30, North Shaanxi Road, Shanghai, China)
  <br/>
  %p{style: "color: white"} Summer Coding Sprint To-Do List - TBA
  %p
    If you want to join our brainstorming, please click 
    <a href="http://gurudigger.com/products/20888" target="_blank">here</a>.
  <br/>
  %p{style: "color: white"} Participants of Summer Coding Sprint - TBA
  %p If you want to join the summer coding sprint, please <a href="mailto: mike@gurudigger.com">contact us</a>. 

.challenge_info
  %h1 About Us
  %p
    PythonVSRuby (Or RubyVSPython) is an organization who concentrate on better technical commnucation between Pythoners and Rubyists.
  %p 
    All of the members in RubyVSPython organization are volunteers. We come here to contribute our time because we love Ruby or Python, or both of them.

  %p
    Every year we will organize 3 events. 
    %br/
    On April - New Platform "Celebrating" Contest
    %br/
    On August - Hackathon to make a sprint of the platform.
    %br/
    On December - Final Contest to decide the name will be "RubyVSPython" or "PythonVSRuby" for next year.
    %br/
    %br/

  %p{style: "color: white"} Our Vision 
  %p 
    %ul{style: "list-style-type:circle; margin-left: 30px; margin-bottom: 20px"}
      %li We use programming to communicate.
      %li Friendship first, competition second.
      %li Dare to innovate.

  %h1 Contest Platform

  .platform{platform_id: 1}
    = image_tag "Planet_Conquer_thumbnail.jpg", class: "platform-img"
    .platform-desc
      %p= link_to "Planet Conquer", "https://github.com/halida/planet-conquer/wiki", target: "_blank"
      %p Year: 2012
      %p Launch Date: Mar 28th, 2012

  .platform{platform_id: 2}
    = image_tag "Snake_Challenge_thumbnail.jpg", class: "platform-img"
    .platform-desc
      %p= link_to "Snake Challege", "https://github.com/halida/snake-challenge/wiki", target: "_blank"
      %p Year: 2011
      %p Winner: Lu Jun

  .clearfix  

- content_for :javascripts do
  .platform-img-dialog{platform_id: 1}
    = image_tag "close.png", class: "dlg-close"
    = image_tag "Planet_Conquer_Big.jpg", class: "platform-img-big"      
  .platform-img-dialog{platform_id: 2}
    = image_tag "close.png", class: "dlg-close"
    = image_tag "Snake_Challenge_Big.jpg", class: "platform-img-big"      

  :coffeescript
    $('.platform-img').click ()->
      parent = $($(this).parent())
      platform_id = parent.attr('platform_id')
      $(".platform-img-dialog[platform_id="+platform_id+"]").toggleClass('on')
      $('.hide-all').toggleClass('on')
  
    $('.platform-img-dialog').click ()->
      $(this).toggleClass('on')
      $('.hide-all').toggleClass('on')
  
    close_all = (e)->
      $('.hide-all').removeClass('on')
      $('.platform-img-dialog').removeClass('on')
      e.preventDefault()

    $('.hide-all').click close_all
  
