:css
  .mini_title{line-height: 16px}

.mini_title
  %h2 RubyVSPython 2012 Championship
  %p{style: "margin-bottom: 18px"}
    Date:     Dec 22nd, 2012 <br/>
    Time:    18 : 30 - 21 : 30 <br/>
    Venue:   Innospace （Map）<br/>
  
  %h2 Agenda
  %p
    18 : 30 - 19 : 00   Dinner <br/>
    19 : 00 - 19 : 30   Warm Up <br/>
    19 : 30 - 20 : 00   Group 0 Competition <br/>
    20 : 00 - 20 : 30   Group 1 Competition <br/>
    20 : 30 - 21 : 00   Final Round <br/>
    21 : 00 - Later      Party <br/>

  %p If you want to join the 2012 Championship, please <a href="mailto: mike@gurudigger.com">contact us</a>. 

.challenge_info
  %h2 About Us
  %p
    PythonVSRuby (Or RubyVSPython) is an organization who concentrate on better technical commnucation between Pythoners and Rubyists.
  %p 
    All of the members in RubyVSPython organization are volunteers. We come here to contribute our time because we love Ruby or Python, or both of them.

  %p
    Every year we will organize 3 events. 
    %br/
    On April - New Platform "Celebrating" Contest
    %br/
    On August - Hackathon to make a sprint of the platform.
    %br/
    On December - Final Contest to decide the name will be "RubyVSPython" or "PythonVSRuby" for next year.
    %br/
    %br/

  %h2 Our Vision 
  %p 
    %ul
      %li We use programming to communicate.
      %li Friendship first, competition second.
      %li Dare to innovate.

  %h2 Contest Platform

  .platform{platform_id: 1}
    = image_tag "Planet_Conquer_thumbnail.jpg", class: "platform-img"
    .platform-desc
      %p= link_to "Planet Conquer", "https://github.com/halida/planet-conquer/wiki", target: "_blank"
      %p Year: 2012
      %p Launch Date: Mar 28th, 2012

  .platform{platform_id: 2}
    = image_tag "Snake_Challenge_thumbnail.jpg", class: "platform-img"
    .platform-desc
      %p= link_to "Snake Challege", "https://github.com/halida/snake-challenge/wiki", target: "_blank"
      %p Year: 2011
      %p Winner: Lu Jun

  .clearfix  

- content_for :javascripts do
  .platform-img-dialog{platform_id: 1}
    = image_tag "close.png", class: "dlg-close"
    = image_tag "Planet_Conquer_Big.jpg", class: "platform-img-big"      
  .platform-img-dialog{platform_id: 2}
    = image_tag "close.png", class: "dlg-close"
    = image_tag "Snake_Challenge_Big.jpg", class: "platform-img-big"      

  :coffeescript
    $('.platform-img').click ()->
      parent = $($(this).parent())
      platform_id = parent.attr('platform_id')
      $(".platform-img-dialog[platform_id="+platform_id+"]").toggleClass('on')
      $('.hide-all').toggleClass('on')
  
    $('.platform-img-dialog').click ()->
      $(this).toggleClass('on')
      $('.hide-all').toggleClass('on')
  
    close_all = (e)->
      $('.hide-all').removeClass('on')
      $('.platform-img-dialog').removeClass('on')
      e.preventDefault()

    $('.hide-all').click close_all
  
