- content_for :head do
  = stylesheet_link_tag "room"
  = javascript_include_tag "jquery.svg", "room"

%h1 planet conquer


#board
  #board-head
    #round
      round
      %span#current-round= 0
      = "/"
      %span#max-round= 0
    #game-status

  #board-side
    #players
    #desc
    #board-logs

  %svg#board-scene{xmlns: "http://www.w3.org/2000/svg"}

- content_for :javascripts do
  - game_server = "localhost:9999"
  - room_id = 0

  :coffeescript
    game = new Game()
    shower = new GameShower(game, "#board")
    game.set_server("#{game_server}", #{room_id})
